<!DOCTYPE html>
<html>

    <head>
        <title>Sugarcane AI System Interface</title>
        <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" >
    </head>





    <body>
        <bl>
        <h1>Sugarcane AI System Interface</h1>

        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="gaugeView.html">Gauge</a></li>
            <li><a href="mapView.html">Map</a></li>
            <li><a href="setView.html">Setting</a></li>
          </ul>



    </body>

</html>