<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" >
    <link rel="stylesheet" href="../css/map.css" type="text/css" media="screen" >


        <title>Google Map</title>

</head>

    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="map_1.html">Map 1</a></li>
        <li><a href="map_2.html">Map 2</a></li>
        <li><a href="gauge_1.html">Gauge 1</a></li>
        <li><a href="gauge_2.html">Gauge 2</a></li>
        <li><a href="gauge_3.html">Gauge 3</a></li>
    </ul>


    <body>


        <script>// <- fitch data from data.csv


            function initMap() { // set the google map
                var location = {lat: -27.552510, lng: 153.053360} // set the location var
                var map = new google.maps.Map(document.getElementById("map"), { // set the map itself
                    zoom: 20,
                    center: location
                });

                const response = await fetch('../data/data.csv');  // <- fitch data.csv and store in var
                const data = await response.text();                //<- tern csv data into text data
                //console.log(data);

                const rows = data.split('\n').slice(1);            //<- tern csv data into text data



                var marker = new google.maps.Marker({ // <- give a marker on the map
                    position: location,
                    map: map
                })

                
                /*
                var rectangle = new google.maps.Rectangle ({
                    map: map,
                    bounds: new google.maps.LatLngBounds (
                        new google.maps.LatLng (location),
                        new google.maps.LatLng (-27.552520,153.053370)
                    ),
                    fillColor: "red",
                    strokeColor: "white"   
                }) ;

                var rectangle_2 = new google.maps.Rectangle ({
                    map: map,
                    bounds: new google.maps.LatLngBounds (
                        new google.maps.LatLng (-27.552510,153.053365),
                        new google.maps.LatLng (-27.552520,153.053375)
                    ),
                    fillColor: "red",
                    strokeColor: "white"   
                   
                }) ;
                 */
            }

            //Google Maps API guide: https://developers.google.com/maps/do...​
            //Find your latitude and logitude: http://www.latlong.net/​

            async function getData(){
                
                var pos = [];                               // <- position store list of coordinates

                const response = await fetch('../data/data.csv');  // <- fitch data.csv and store in var
                const data = await response.text();                //<- tern csv data into text data
                //console.log(data);

                const rows = data.split('\n').slice(1);            // <- get row without first line
              //  var position = [];                               // <- position store list of coordinates

                rows.forEach(elt => {                   // <- run for each function in each rows
                    const row = elt.split(',');         //<- split the row data into array
                    //console.log(row);                   // <- each row of data

                    const lat = row[2]; //<- fitch lat from rows
                    const lng = row[3];
                    //console.log('lat is:',lat,"lng is:",lng)

                    const coordinates = [lat, lng] //<- store lat and lng into a array

                    pos.push(coordinates[0]) // <- store coor into a array
                    
                });
                return pos

                console.log('pos is:', pos)
                //console.log('the first element in position is: '+ position[0])
            }; 

            // note: in this function, always run map function first, so the data can not pass to map mark


        </script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJiAa3qQ4LuPAws9B7yErrDTYwwWWwW0E&&callback=initMap"type="text/javascript">// <- set google map API</script>
        
        <div id="map"></div>
        <div id=''></div>


    </body>
</html>
