<!DOCTYPE html>
<html>

    <head>
        <title>My Project</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="map_1.html">Map 1</a></li>
        <li><a href="map_2.html">Map 2</a></li>
        <li><a href="gauge_1.html">Gauge 1</a></li>
        <li><a href="gauge_2.html">Gauge 2</a></li>
        <li><a href="gauge_3.html">Gauge 3</a></li>
    </ul>


    <body>
        <h1>Map</h1>
        <img src="../images/test_1.jpg">

        <script>
   

        </script>


    </body>
</html>
