<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CSV Viewer</title>
        
        
        
    </head>

    <body>
        <div class="button-group">
            <select id="button-dropdown-list" onchange="get()">
              <option value="aaa">aaa</option>
              <option value="bb">bb</option>
              <option value="cc">cc</option>
              <option value="dd">dd</option>
          </select>
          
          
          </div>
          
          
          <script>
              function get(){
                  var value = document.getElementById("list").value;
                  console.log(value)
              }
              get();
          </script>

    </body>

</html>


